    *{
        box-sizing: border-box;
        padding: 0%;
        margin: 0%;
    }
    #c-nav-1{
        background: #1b263b;
    }

    .buscar-texto{
        border: none;
        background: #d1d1d141;
        outline: none;
        float: left;
        line-height: 35px;
        transition: 0.5s;
        width: 0;
        border-radius: 25px;
    }
    .boton{
        text-decoration: none;
        color: gray;
    }

    /*-----Para el buscador-----*/

    @media screen and (min-width:320px){
        .buscar:hover > .buscar-texto{
            width: 190px;
        }
    }
    @media screen and (min-width:768px){
        .buscar:hover > .buscar-texto{
            width: 220px;
        }
    }
    @media screen and (min-width:1024px){
        .buscar:hover > .buscar-texto{
            width: 250px;
        }
    }

    #banner1{
        position: relative;
    }
    .text-banner{
        position: absolute;
        top: 10%;
        left: 3%;
    }
    .text-banner h1{
        font-family: 'JT Marnie Light';
        font-size: 50px;
    }
    .con-text{
        position: absolute;
        top: 45%;
        bottom: 30%;
        background: #d8d6d69e;
    }
    .con-text h2{
        font-family: 'JT Marnie Light';
    }
    #color-n{
        color: #f9530a;
    }
    h2{
        margin-top: 30px;
        text-align: center;
    }
    h3{
        margin-top: 30px;
        text-align: center;
    }
   
    h3.linea {
        position: relative;
        z-index: 1;
    }
    h3.linea:before {
        border-top: 2px solid #f9530a;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
    }
    h3.linea span {
        background: #fff;
        padding: 0 15px;
    }
    #t-pal{
        font-size: 25px;
    }
    #icon-funciones{
        font-size: 65px;
    }

    .cont-info{
        background: #bbbbbb17;
        border: #313131c7;
        border-radius: 5px;
        height: 100%;
        margin-top: 3%;
    }
   
    .icon a{
       color: white;
       font-size: 25px; 
    }

    .bg-login{
        background: #1b263b;
    }

    .inner-addon {
        position: relative;
      }
      .inner-addon .fa {
        position: absolute;
        padding: 12px;
        pointer-events: none;
      }
      .left-addon .fa {
        left: 0px;
      }
      .right-addon .fa{
        right: 0px;
      }
      .left-addon input {
        padding-left: 40px;
      }
      .right-addon input {
        padding-right: 30px;
      }

      .d-inp{
          border-radius: 50px;
      }
      .btn-l{
          background: #f9530a;
          color: white;
          border-radius: 50px;
          width: 45%;
      }
      
      #c-intp img{
          margin-top: -50px;
      }
      #c-intp .card{
          border-radius: 5px;
          box-shadow: 0 0 3px #f9530a;
          transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
      }
      #c-intp .card:hover{
          background: #1b263b;
          color: white;
          border-radius: 5px;
          border: none;
          box-shadow: 5px 5px 10px #1b263b;
      }
